:root {
    --blue: #72B3ED;
    --green: #27C3B4;
    --navy: #45648E;
    --light: #f2f3f4;
    --yellow: #F7D93A;
    --dark: #333;
  }
/* Apply linear gradient colour to full height of background */
html {
    height: 100%;
}

body {

    background-image: linear-gradient(
        var(--blue) 0%,
        var(--light) 100%
      );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 14px;;
}

ul {
    justify-content: center;
}

li {
    font-size: 14px;
    font-weight: 100;
}

.button-navy {
    background-color: var(--navy);
    color: var(--light);
    text-transform: uppercase;
    border: none;
}

.button-history {
    background-color: var(--navy);
    color: var(--light);
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    margin: 5px;
    padding: 5px 25px;
}

.white-text {
    color: white;
}

.light-text {
    color: var(--light);
}

.navy-text {
    color: var(--navy);
}

.dark-text {
    color: var(--dark);
}

.content {
    margin-top: 20px;;
}

.current {
    margin-top: 10px;
}

.forecast {
    margin-top: 10px;
}

.city-footer {
    background-color: var(--green);
    color: var(--light);
    text-transform: uppercase;
}

.weather-icon {
    background-color: var(--yellow);
    border-radius: 100%;
}

.day-card {
    margin: 5px;
    padding: 0;
    text-align: center;
}

.day-header {
    background-color: var(--navy);
    color: white;
    text-align: center;
}

#search-list {
    justify-content: center;
}